* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    background-color: #5B4636;
}

.contenedor {
    margin-top: 1%;
    display: flex;  
    justify-content: space-between;
}

.contenedor h1 {
    margin-left: 25%;
}

.contenedor img {
        position: relative;
    width: 35%;
    height: auto;
    right:97% ;
}

.contenedor button {
    position: relative;
    left: 160%;
    font-size: 102%;
    
}

header div:last-child {
    text-align: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 83%;
    
}

header nav ul li {
    margin: 30%;
    border-radius: 5px;
}

header nav ul li a {
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

main {
    background-color: #F5F1E8;
    padding-top: 8%;
    padding-bottom: 10%;
}

main h2 {
    text-align: center;
    margin: 2%;
}

main h5 {
    border-radius: 20px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    border: 1px solid black;
    padding: 1%;
}

.buscador {
    margin-left: 40%;
    text-align: center;
    margin-bottom: 2%;
    background-color: white;
    width: 18%;
    padding: 0.3%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

.buscador input {
    border-radius: 5px;
    padding-inline: 15%;
}

.panel {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.contenedor2 {
    display: flex;
    justify-content: space-evenly;
}
.contenedor2 img
{
    width: 100%;
    height: auto;
}
.contenedor2 img:hover {
    width: 102%;
    height:auto ;
}

.contenedor2 h3:hover {
    background-color: navy;
    color: white;
     width: 102%;
}

.contenedor2 h3 {
  
    text-align: center;
    background: white;
    margin-bottom: 1%;
}

.contenedor3 {
    display: flex;
    justify-content: space-around;
}
.contenedor3 img
{
    width: 100%;
    height: auto;
}
.contenedor3 img:hover {
    height: 103%;
}

.columnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6%;
    background: white;
    width: 55%;
    padding: 1%;
    justify-content: center;
    padding-bottom: 8%;
    margin-left: 21%;
    border-radius: 50px;
    text-align: center;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}
.columnas img
{
    width: 90%;
    height: auto;
}
.columnas img:hover {
   width: 100%;
   height: auto;
}

form {
    margin-left: 30%;
    text-align: center;

    padding-bottom: 14%;
    padding-top: 1%;
    background-color: white;
    width: 40%;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

form div {
    margin: 1%;
}

iframe {
    margin-left: 34%;
    margin-bottom: 1%;
    border-radius: 10px;
}

footer {
    padding-top: 0.5%;
    width: 100%;
    background-color: #3E3026;
    text-align: center;
    padding-bottom: 0.5%;
}
footer h3{
    margin-top: 1%;
    margin-bottom: 1%;
}

footer p{
    margin-bottom: 1%;
}

footer div p{
    padding-top: 5%;
}
footer nav ul li{
    padding-top: 5%;
}

footer section {
    width: 79%;
    margin-left: 12%;
    display: flex;
    justify-content: space-around;
}

img {
    border-radius: 10px;
}

img:hover {
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #2B2926;
    font-family: Playfair Display;
}

h2 {
    color: #4A3426;
    font-family: Cormorant Garamond;
}

h3 {
    color: #A67C3D;
    font-family: "Libre Baskerville", serif;
}

button {
    color: #4F5D45;
    background-color: beige;
    font-family: "Libre Baskerville", serif;
}

p {
    color: #bf893b;
    font-family: "Libre Baskerville", serif;
}

button:hover {
    color: #687653;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

a {
    color: #bf893b;
    text-decoration: none;
}

nav:hover {
    color: #7A4E32;
}

.bloqueado {

    right: 5%;
    bottom: 6%;
    position: fixed;
    font-size: 150%;
    border: 2px solid black;
    background-color: blue;
    color: white;


}

.bloqueado:hover {
    background-color: blue;
    color: white;
}